/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}

.btn1 {
    border: solid rgb(37, 211, 153);
    border-radius: 50px 50px;
    color: rgb(37, 211, 153);
    background-color: rgb(241, 230, 230);
    text-align: center;
    width: 300px;
    height: fit-content;
    font-size: 50px;
    padding: 5px, 20px;
}

.btn2 {
    background-color: aqua;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    line-height: 53px;
}

.btn3 {
    font-size: 50px;
    border: solid black;
    text-align: center;
    width: 500px;
    color: aliceblue;
    background-color: rgb(21, 81, 233);
    font-weight: lighter;
    box-shadow: 10px 10px black;
}


.row {
    display: flex;
    background-color: burlywood;
    border: 1px solid black;
    margin: 10px;
}


.col {
    flex: 1;
    border: 1px solid black;
}


.navbar {
    display: flex;
    align-items: center;
    background-color: aqua;
    color: white;
}